*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#ffffff;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
    position:sticky;
    top:0;
    z-index:1000;
}

nav h2{
    color:#0EA5E9;
    font-size:30px;
    cursor:pointer;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li{
    cursor:pointer;
    color:#1E293B;
    transition:.3s;
    font-weight:600;
}

nav ul li:hover{
    color:#0EA5E9;
}

nav div{
    display:flex;
    gap:15px;
}

nav button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
    font-weight:bold;
}

nav button:first-child{
    background:white;
    border:2px solid #0EA5E9;
    color:#0EA5E9;
}

nav button:first-child:hover{
    background:#0EA5E9;
    color:white;
}

nav button:last-child{
    background:#0EA5E9;
    color:white;
}

nav button:last-child:hover{
    background:#0284C7;
    transform:scale(1.05);
}